@()
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>
    Medicine Guide
    </title>
  </head>
  <body>
    <header>
      <div>
        <ul>
          <li><a href="/medicines">Medicines</a></li>
          <li ><a href="/search">Search</a></li>
          <li ><a href="/articles">Articles</a></li>
          <li ><a href="/login">Login</a></li>
          <li ><a href="/registration">Registration</a></li>
        </ul>
      </div>
    </header>
    <div>
      <h1>Welcome to Medicine Guide!</h1>
      <div>
        <div>
          <div>
            <p>Here you can find information about different medicines and their categories<br><br>
              You can also search analogues of medicines by their active ingredients and read articles about health and medicine<br><br>
              <a href="/registration">Register</a> and <a href="/login">login</a>
              to write reviews on medicines and comment articles
              <br><br></p>
          </div>
          <div>
            <a href="/search"><button type="button">Explore medicines 🔍</button></a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <small>Medicine Guide 2024</small>
    </div>
  </body>
</html>
